<div class="row animated fadeIn">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">nombre usuario</h6>
        <form ngNativeValidate #f="ngForm" (submit)="guardar(f.value)" class="form p-t-20">

          <div class="form-group">
            <label>Nombre</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" placeholder="Nombre del usuario" required name="nombre"
                     [ngModel]="usuario.nombre">
            </div>
          </div>

          <div class="form-group">
            <label>Correo del usuario</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="email" [disabled]="usuario.google" class="form-control" placeholder="Correo del usuario"
                     name="email"
                     [ngModel]="usuario.email">
            </div>
          </div>

          <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i> Submit
          </button>

        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-5" align="center">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fotografía del usuario</h4>
        <h6 class="card-subtitle">nombre usuario</h6>

        <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150">
        <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
        <input type="file" (change)="seleccionImage( $event.target.files[0] )">

        <br>
        <br>

        <button type="button" (click)="cambiarImagen()" [disabled]="!imagenSubir" class="btn btn-success waves-effect waves-light m-r-10">
          <i class="fa fa-save"></i> Actualizar foto
        </button>
      </div>
    </div>
  </div>
</div>
